@import "tailwindcss";
@theme {
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
    --color-custom-gray: #737373;
    --color-light-gray: #FAFAFA;
    --color-detail-page: #252B42;
    --color-muted-color: #BDBDBD;
    --color-danger-color: #E74040;
    --color-instagram-color: #E51F5A;
    --color-facebook-color: #335BF5;
    --color-twitter-color: #21A6DF;
}